.background {
    position: fixed;
   width: 100%;
   min-height: 10%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-52%);
   z-index: -6;
    opacity:0.9 ; 
 }

 .logo{
    margin-top:10px;
    z-index: 99;
 }
 
 .backlabel{
    background:blue;
   border: 3px solid red;
   
 }

.container1{
   min-width: 60%;
   height:100%;
   /* border:3px solid red; */
   text-align: left;
   padding:10px;


}
 .flex-container{

     /* background: white; */
    border: 2px solid green;
    text-align: center;
    min-width: 40%;
    width: 30%;
    /* height:100%; */
    margin:0 auto;
    padding: 10px;
    grid-gap: 10px;
    display:flex;
    align-items: stretch;
   
    justify-content: center;
    margin-top: 80px;
 /*    margin-left:100px;
    margin-right:100px; */
   /*  opacity: 0.3;   */
   border-radius: 15px;
   

   
 }
 .flex-container2{

 
  border: 2px solid green;
  text-align: center;
  min-width: 40%;
  width: 30%;
 
  margin:0 auto;
  padding: 10px;
  grid-gap: 10px;
  display:flex;
  align-items: stretch;
 
  justify-content: center;
  margin-top: 80px;

 border-radius: 15px;
 
}

.center{

   width: 400px;
}

.div1,.div2{
   
    margin-top:20px;
    border: 1px solid none;
    text-align:center;
    min-width: 50%;
    z-index: 99;
    background:#F3F3F3;
    padding:10px;
    
    
}

.input{

   width: 80%;
   text-align: center;
}


.xx{

   display: flex;
   /* align-items: stretch; */
   padding: 5px;
  
    grid-gap: 10px;
     
}


.labeltree2{
   width:20px;
   height: 20px;
  

   border: 1px solid grey;
}

